.navContainer {
    display: flex;
    flex-direction: row;
    gap: 32px;
    background-color: #ffffff;
    font-size: 1.5rem;
    align-items: center;

    .logo {
        width: 46px;
        height: 46px
    }

    .navLink {
        display: flex;
        flex-direction: row;
        gap: 14px;
        font-family: Verdana;
        font-size: 14px;
        font-weight: 700;
        line-height: 17.01px;
        letter-spacing: 0.04em;
        text-align: right;
        width: 100%;
        height: 17px;

        a { 
            text-decoration: none;
            color: #9B9FAA;
            
        }
        
    }

   
  
}

.loginNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.backContainer {
    width: 100%;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    background: #eff1f3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-right: 25px;
  
    .userName {
      font-family: Verdana;
      font-size: 14px;
      font-weight: 700;
      line-height: 17.01px;
      letter-spacing: 0.04em;
      text-align: right;
      color: #212121;
    }
    .dash {
      width: 1px;
      height: 100%;
      background-color: #000000;
      border: 2px solid #e0e0e0;
      opacity: 0.2;
    }
  
    .exitContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-family: Verdana;
      font-size: 14px;
      font-weight: 700;
      line-height: 17.01px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #9b9faa;
  
      .exitIcon {
        width: 20px;
        height: 20px;
        color: #fc842d;
        opacity: 0.7;
      }
    }
  }
  
  .linkContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 10px;

    a {
        text-decoration: none;
        color: #fc842d;
        font-family: Verdana;
        font-size: 14px;
        
    }
  }