.boxForm {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.boxForm::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  background-size: 80px 80px;
  background-position: center center;
  opacity: 0.9;
  z-index: -1;
}

.buttonBox {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
  width: 100%;
  max-width: 280px;
  flex-direction: column;
  gap: 20px;
}

.loginButton {
  width: 182px;
  height: 44px;
  padding: 13px 51px 13px 51px;
  gap: 10px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #fc842d80;
  border: 0px;
  color: #fc842d;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  text-align: center;
  transition: scale 250ms ease-in-out, box-shadow 250ms ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.registerButton {
  width: 182px;
  height: 44px;
  padding: 13px 51px 13px 51px;
  gap: 10px;
  border-radius: 30px;
  background: #fc842d;
  box-shadow: 0px 4px 10px 0px #fc842d80;
  border: 1px solid #fc842d;

  text-transform: uppercase;
  cursor: pointer;
  transition: scale 250ms ease-in-out, box-shadow 250ms ease-in-out;

  a {
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.01px;
    letter-spacing: 0.04em;
    text-align: center;
  }
}

.registerButton:hover,
.loginButton:hover {
  scale: 0.99;
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 100%;
  height: 100%;
  width: 533px;
  height: 570px;
  top: 75px;
  left: 374px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #030000;
}

.title {
  span {
    color: black;
  }

  font-size: 19.111px;
  font-weight: 400;
  margin-bottom: 40px;
}

.labelBox {
  max-width: 100%;
  position: relative;
  height: 45px;
  margin-bottom: 25px;
}

.inputBox {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  max-width: 100%;
  width: 280px;
}

.userIcon,
.emailIcon,
.passwordIcon {
  color: #fc842d;
  font-size: 24px;
  margin-left: 12px;
}

.inputField {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  color: rgba(39, 39, 43, 0.6);
  padding: 5px 11px;
  position: relative;
}

.eye {
  position: absolute;
  top: 2px;
  right: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.noEyeIcon,
.eyeIcon {
  color: rgba(9, 3, 58, 0.6);
  font-size: 25px;
}

.error {
  margin-left: 12px;
  margin-top: 7px;
  color: #e88181;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 0px;
}

.registerBox {
  width: 533px;
  height: 570px;
  top: 75px;
  left: 374px;
  border-radius: 8px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconLogo {
  width: 28px;
  height: 35px;
}

.logoGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;

  .title {
    font-weight: 700;
    font-family: Verdana;
    line-height: 17.01px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fc842d;
  }
}

.strengthBar {
  width: 100%;
  height: 3px;
  display: flex;
  gap: 2px;
  margin-top: 5px;
}

.strengthSegment {
  flex: 1;
  height: 100%;
  background-color: #e0e0e0;
}

.strengthSegment.veryWeak {
  background-color: red;
}

.strengthSegment.weak {
  background-color: orange;
}

.strengthSegment.medium {
  background-color: green;
}

.strengthSegment.strong {
  background-color: green;
}
