.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20;
  color: '#010101';
}

.titleLogin {
  display: flex;
  justify-content: center;
  font-size: 14px;
  h2 {
    font-family: Verdana;
    font-weight: 700;
    line-height: 17.01px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fc842d;
  }
}
.compoenentContainer {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.formLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  max-width: 100%;
  position: relative;
  height: 45px;
  margin-bottom: 10px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #FC842D;
  font-size: 24px;
}

.buttonContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  div {
    width: 100%;
  }
}

.loginButton {
  width: 182px;
  height: 44px;
  padding: 13px 51px 13px 51px;
  gap: 10px;
  border-radius: 30px;
  background: #fc842d;
  box-shadow: 0px 4px 10px 0px #fc842d80;
  border: 0px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  text-align: center;
  transition: scale 250ms ease-in-out, box-shadow 250ms ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.registerButton {
  width: 182px;
  height: 44px;
  padding: 13px 51px 13px 51px;
  gap: 10px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #fc842d80;
  border: 1px solid #fc842d;

  text-transform: uppercase;
  cursor: pointer;
  transition: scale 250ms ease-in-out, box-shadow 250ms ease-in-out;

  a {
    text-decoration: none;
    color: #fc842d;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.01px;
    letter-spacing: 0.04em;
    text-align: center;
  }
}

.registerButton:hover,
.loginButton:hover {
  scale: 0.99;
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.5);
}

.formInput {
  width: 100%;
  padding: 10px 10px 10px 40px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff66;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.05em;

  color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Folosește 0.9 în loc de 0.6 pentru a face textul mai vizibil */
  outline: none;

  &::placeholder {
    color: #9b9faa;
  }
}

.formInput:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #021c53;
  height: 40px;
  font-size: 1.5rem;
  color: #ffffff;
}
